// colors ============================================
$primary-color: rgb(131, 32, 224);
$secondary-color: rgb(122, 228, 72);
$accent-color: rgb(77, 183, 209);

// shadow ============================================
// box shadow
$box-shadow: 0 0.5rem 1rem rgba(#000, 0.8);
$box-shadow-1: -1px 0px 9px -3px rgba(0,0,0,0.75);
$box-shadow-2: 0px 0px 19px 4px rgba(0,0,0,0.75);

// iframe shadow
$iframe-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);

// parallax effect ====================================
@mixin parallax() {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// display style ======================================
// display flex row
@mixin flex-box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// display flex column
@mixin flex-box-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
